body {
  width: 100%;
}

.footer {
  border: solid 1px purple;
  background: linear-gradient(300deg, #f1fada, #9ad0c2, #2d9596);
  background-size: 180% 180%;
  display: flex;
  justify-content: center;
}

.connected {
  border: solid pink;
  width: 40%;
  margin-top: 5%;
  margin-right: 50px;
  margin-left: 0px;
  display: flex;
  text-align: center;
}

.newsletter {
  border: solid pink;
  width: 100%;
  margin-top: 5%;
  margin-right: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.box {
  border: solid pink;
  margin-top: 5%;
  margin-right: 50px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
}

.text {
  border: solid pink;
  width: 25%;
}

#link {
  display: block;
  width: 100%;
}

a:hover {
  color: greenyellow;
}

.middlebox {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.dropdown {
  text-align: center;
}

.animation-2:hover {
    background-color: #9ad0c2;
        }


/* .animation-2 {
  background-color: #265073;
  animation-name: animation-2;
  animation-duration: 4s;
}

@keyframes animation-2 {
  from {
    background-color: #9AD0C2;
  }

  to {
    background-color: #F1FADA;
  }
} */

.title {
  width: 100px;
  height: 100px;
  background:;
  position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {
    left: 0px;
  }

  to {
    left: 100px;
  }
}