body {
    width: 100%;
}

.top-container {
    border-color: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.btnbook {
    margin-right: 50px;
}
.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#section1 {
    width: 100%;
    border: 1px solid red;
    margin: 5px;

}

#section2 {
    width: 70%;
    border: 1px solid grey;
    margin-right: 50px;

}

.main-box {
    width: 100%;
    height: 25%;
    border: solid green;
    display: flex;
    align-items: center;
}

#box-3 {
    border: solid green;
    width: %;
}

.picture {
    border: solid purple;
    text-align: center;
}

.info {
    border: solid pink;
    text-align: center;
}

.address {
    border: solid red;
        width: 50%;
}
.phone {
    border: solid red;
    width: 50%;
}

 .footer {
     border: solid 1px purple;
     background: linear-gradient(300deg, #F1FADA, #9AD0C2, #2D9596);
     background-size: 180% 180%;
     display: flex;
     justify-content: center;
 }

 .connected {
     border: solid pink;
     width: 40%;
     margin-top: 5%;
     margin-right: 50px;
     margin-left: 0px;
     display: flex;
     text-align: center;
 }

 .newsletter {
     border: solid pink;
     width: 100%;
     margin-top: 5%;
     margin-right: 10px;
     margin-left: 20px;
     display: flex;
     flex-direction: row-reverse;
     justify-content: center;
 }

 .box {
     border: solid pink;
     margin-top: 5%;
     margin-right: 50px;
     margin-left: 20px;
     display: flex;
     justify-content: center;
 }

 h2 {
     text-align: center;
 }

 .text {
     border: solid pink;
     width: 25%;
 }

 #link {
     display: block;
     width: 100%;
 }

 a:hover {
     color: greenyellow;
 }

