body {
    background-color: #FFBB5C;
    width: 100%;
}

.box1 {
    border: solid green;
    width: 100%;
    height: 100%;

}

.box2 {
 background: linear-gradient(300deg, #B7E5B4,#D9EDBF, #FFC700);
background-size: 180% 180%;
  

}

#box-5 {
    border: solid pink;
    width: 75%;
    margin-top: 5%;
    margin-right: 50px;
    margin-left: 75px;
}
.t1 {
    border: solid purple;
    width: 25%;
    margin: 5px;
    
}
.t2 {
    border: solid purple;
    width: 25%;
    margin: 5px;
}
.t3 {
    border: solid purple;
    width: 25%;
    margin: 5px;
}

.tbox {
   display:flex;
   justify-content: center;
   
}
.abox {
    display: flex;
    justify-content: center;  
}
.a1 {
    border: solid purple;
    width: 25%;
    margin: 5px;
}
.a2 {
    border: solid purple;
    width: 25%;
    margin: 5px;
}
.a3 {
    border: solid purple;
    width: 25%;
    margin: 5px;
}

.img {
    border: greenyellow;
    display:flex;
    justify-content: center;
}

p {
    text-align: center;
}